header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Roboto", "Calibri";
}

body > div,
header,
footer {
  padding: 50px 250px;
  margin: 0;
}

#landing,
header,
footer {
  background-color: #1f2937;
  color: #f9faf8;
  margin: 0;
}

#landing {
  display: flex;
  gap: 150px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
}

.secondary_text {
  color: #e5e7eb;
  font-size: 18px;
  font-weight: normal;
}

#header_button {
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

#image {
  width: 700px;
  height: 300px;
  background-color: gray;
  text-align: center;
}

#logo {
  font-weight: bold;
  font-size: 24px;
}

#links {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 10px;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

#info-items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.info-item {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.info_img {
  width: 200px;
  height: 200px;
  border-color: #3882f6;
  border: 5px solid #3882f6;
  border-radius: 5px 5px;
}

#quote {
  background-color: #e5e7eb;
  p {
    font-size: 30px;
  }
}

#quote_signature {
  font-weight: 700;
  text-align: end;
}

.blue_bg {
  background-color: #3882f6;
}

#signup {
  margin: 150px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  color: white;
  align-items: center;
}

.signup_head {
  font-size: 30px;
}

.signup_foot {
  font-size: 25px;
}

#footer_button {
  color: white;
  border: 3px solid white;
  border-radius: 5px 5px;
  width: 120px;
  height: 40px;
  background-color: #3882f6;
}

button {
  font-size: 18px;
}
footer {
  text-align: center;
}
